/* h1{
  text-align: center;
} */

body{ 
  margin: 0; 
  padding: 0;
  background: #000;
  }


/* canvas section */
canvas{
    /* center canvas with margin*/
    margin: 0 auto;
    display: block;
    border: 2px solid;
    border-color: aquamarine;
    /* width: 50%;
    height: 50%; */
}

/* Scores*/
/* #user-score{
  font-size: 75px;
  font-family: "fantasy";
  color: blue;
  text-align: right ;
} */

